watchlist-svc-local.janovix.workers.dev {
	tls internal
	reverse_proxy localhost:8791 {
		header_up Host {host}
		header_up X-Forwarded-Host {host}
		header_up X-Forwarded-Proto {scheme}
	}
}

